<!DOCTYPE html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[#{home.title}]]</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 text-begin">
            <a href="?lang=ua"
               th:class="__${#locale}__=='en'?'btn-outline-secondary btn btn-sm':'btn-outline-primary btn btn-sm'">[[#{lang.ua}]]</a>
            <a href="?lang=en"
               th:class="__${#locale}__=='ua'?'btn-outline-secondary btn btn-sm':'btn-outline-primary btn btn-sm'">[[#{lang.en}]]</a>
        </div>

        <div class="col-md-3 text-end">
            <a th:href="@{/user/login}" class="btn btn-outline-primary me-2">[[#{menu.login}]]</a>
            <a th:href="@{/user/signup}" class="btn btn-primary">[[#{menu.sign-up}]]</a>
        </div>
    </header>
</div>

<div class="col-sm-12 text-center">
    <img src="/images/600_698.png" class="img-responsive" alt="Library" width="600" height="698">
</div>


</body>
</html>